<div class="jumbotron">
  <div class="container">
    {{#link-to 'index'}}
      <h1>Westeros Blog</h1>
    {{/link-to}}
  </div>
</div>

<div class="container" id="nav">
  {{#link-to 'index'}}
    <span class="left navItem">Index</span>
  {{/link-to}}
  {{#link-to 'post-add'}}
    <span class="center navItem">Add Article</span>
  {{/link-to}}
  {{#link-to 'post-add'}}
  <span class="right navItem">Comments</span>
  {{/link-to}}
</div>
