<div class="jumbotron">
  <div class="container">
    {{#link-to 'index'}}
      <h1>Westeros Blog</h1>
    {{/link-to}}
  </div>
</div>

<div class="container" id="nav">
  <span class="left navItem">Index</span>
  <span class="center navItem">Add Article</span>
  <span class="right navItem">Comments</span>
</div>
