body {
  background-color: peachpuff;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

a,
a:link,
a:active,
a:hover,
a:visited {
  color: peachpuff;
  text-decoration: none;
}

#nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(102,51,153,0.5);
  border: 3px solid mistyrose;
  box-shadow: 0 0 15px rebeccapurple;
  border-radius: 32px;
  color: rebeccapurple;
  font-weight: bold;
  font-size: 2rem;
  padding: 5px;
  .navItem {
    padding: 10px 20px;
    border-radius: 24px;
    &:hover {
      // background-color: rebeccapurple;
      // color:white;
      text-shadow: 0 0 10px mistyrose;
    }
  }
}

.jumbotron {
  text-align: center;
  background-color: rgba(102,51,153,0.5);
  text-shadow: 0 0 10px mistyrose;
  margin-bottom: 20px;
  padding: 2rem 0;
  font-family: "Castamere Sans";
  h1 {
    font-size: 10rem;
  }
}

.post-tile {
  border: 3px solid mistyrose;
  box-shadow: 0 0 15px rebeccapurple;
  padding: 20px;
  background-color: rgba(102,51,153,0.5);
  color: black;
  margin-bottom: 30px;
  img {
    width: 100%;
  }
  .row {
    margin: 0;
  }
  .col-sm-6 {
    padding: 0;
    &:first-of-type{
       padding-right: 10px;
    }
    &:last-of-type{
       padding-left: 10px;
    }
  }
  &:hover {
    box-shadow: 0 0 15px 5px rebeccapurple;
    img {
      box-shadow: 0 0 15px 5px mistyrose;
    }
  }
}

.post-full {
  border: 3px solid mistyrose;
  border-radius: 15px;
  box-shadow: 0 0 15px rebeccapurple;
  padding: 20px;
  background-color: rgba(102,51,153,0.5);
  color: black;
  margin: 30px;
  img {
    width: 100%;
    border: 3px solid mistyrose;
    border-radius: 15px;
  }
  .inner-box {
    padding: 20px 50px 50px 50px;
  }
  h2,
  h3,
  h4 {
    text-align: center;
  }
  h4 {
    margin: 40px auto;
    font-size: 1.6rem;
  }
}

#container-form {
  width: 280px;
  margin-left: 31px;
  border: 3px solid mistyrose;
  border-radius: 15px;
  background-color: rgba(102,51,153,0.5);
  padding: 20px;
  .form-group {
    text-align: right;
  }
  .btn {
    margin: 0 auto;
    display: block;
    background-color: rgba(102,51,153,0.5);
    font-weight: bold;
    color: peachpuff;
  }
  textarea {
    vertical-align: middle;
  }
}
